<a href="https://colab.research.google.com/github/nirajbasyal/DATASET-RELATED-CODE/blob/master/drive_to_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Upload dataset from google drive to colab

In [10]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [11]:
!ls "/content/gdrive/My Drive"

'Colab Notebooks'   IndiaApply.docx

## Enter your file path

In [0]:
df = "./gdrive/My Drive/Colab Notebooks/Iris.csv"

## Import pandas to read dataset

In [0]:
import pandas as pd

In [0]:
ds=pd.read_csv(df)

In [19]:
ds.head(4)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa